In [17]:
# This jupyter is just used for testing purpose and is not part of the code execution.
import pandas as pd
import numpy as np

In [98]:
data_frame = pd.read_csv("Latest_Rankings.csv", index_col = 'Nation')
data_frame.head(25)

               Rank  Squad_Size  Avg_Age Total Value Confideration  Points
Nation
Belgium           1          31     27.4    $793.10m          UEFA    1780
France            2          26     27.6     $1.17bn          UEFA    1755
Brazil            3          25     27.6     $1.03bn      CONMEBOL    1743
England           4          25     25.6     $1.11bn          UEFA    1670
Portugal          5          24     27.4    $845.90m          UEFA    1662
Spain             6          24     26.4    $940.50m          UEFA    1645
Argentina         7          22     27.9    $581.90m      CONMEBOL    1642
Uruguay           8          35     27.0    $498.16m      CONMEBOL    1639
Mexico            9          22     27.8    $190.96m      CONCACAF    1632
Italy            10          29     27.1    $893.20m          UEFA    1625
Croatia          11          25     28.2    $385.00m          UEFA    1617
Denmark          12          27     27.7    $330.33m          UEFA    1614
Germany          13          23     26.3     $1.04bn          UEFA    1610
Netherlands      14          24     27.4    $566.23m          UEFA    1609
Colombia         15          27     27.6    $337.40m      CONMEBOL    1601
Switzerland      16          23     26.9    $289.30m          UEFA    1593
Chile            17          24     28.1     $39.93m      CONMEBOL    1567
Wales            18          25     25.2    $137.97m          UEFA    1562
Poland           19          25     26.6    $300.19m          UEFA    1559
Senegal          20          23     26.4    $253.94m           CAF    1558
Sweden           20          25     28.6    $222.97m          UEFA    1558
United States    22          26     23.3    $229.90m      CONCACAF    1548
Austria          23          29     27.2    $333.82m          UEFA    1531
Ukraine          24          23     26.4    $140.14m          UEFA    1521
Peru             25          36     28.7     $94.19m      CONMEBOL    1512

In [19]:
data_frame.dtypes

Rank               int64
Squad_Size         int64
Avg_Age          float64
Total Value       object
Confideration     object
Points             int64
dtype: object

In [176]:
players_df = pd.read_csv("players_20.csv", index_col="sofifa_id")
players_df

,short_name,nationality,overall,player_positions,work_rate,team_position
sofifa_id,,,,,,
158023,L. Messi,Argentina,94,"RW, CF, ST",Medium/Low,RW
20801,Cristiano Ronaldo,Portugal,93,"ST, LW",High/Low,LW
190871,Neymar Jr,Brazil,92,"LW, CAM",High/Medium,CAM
200389,J. Oblak,Slovenia,91,GK,Medium/Medium,GK
183277,E. Hazard,Belgium,91,"LW, CF",High/Medium,LW
...,...,...,...,...,...,...
245006,Shao Shuai,China PR,48,CB,Medium/High,RES
250995,Xiao Mingjie,China PR,48,CB,Medium/Medium,SUB
252332,Zhang Wei,China PR,48,CM,Low/Medium,SUB
251110,Wang Haijian,China PR,48,CM,Low/Low,SUB
233449,Pan Ximing,China PR,48,CM,Medium/Medium,SUB

In [177]:
players_df.dtypes

short_name          object
nationality         object
overall              int64
player_positions    object
work_rate           object
team_position       object
dtype: object

In [178]:
players_df.loc[players_df['player_positions'].str.contains('ST', regex=False), 'player_positions'] = 'A'
players_df.loc[players_df['player_positions'].str.contains('LW', regex=False), 'player_positions'] = 'A'
players_df.loc[players_df['player_positions'].str.contains('RW', regex=False), 'player_positions'] = 'A'
players_df.loc[players_df['player_positions'].str.contains('CAM', regex=False), 'player_positions'] = 'A'
players_df.loc[players_df['player_positions'].str.contains('CM', regex=False), 'player_positions'] = 'A'
players_df.loc[players_df['player_positions'].str.contains('RM', regex=False), 'player_positions'] = 'A'
players_df.loc[players_df['player_positions'].str.contains('LM', regex=False), 'player_positions'] = 'A'
players_df.loc[players_df['player_positions'].str.contains('CDM', regex=False), 'player_positions'] = 'D'
players_df.loc[players_df['player_positions'].str.contains('CB', regex=False), 'player_positions'] = 'D'
players_df.loc[players_df['player_positions'].str.contains('RB', regex=False), 'player_positions'] = 'D'
players_df.loc[players_df['player_positions'].str.contains('LB', regex=False), 'player_positions'] = 'D'
players_df.loc[players_df['player_positions'].str.contains('GK', regex=False), 'player_positions'] = 'D'
players_df.fillna(0)
#final_grouped_players_df['Attacking_Prowess'] = players_df.loc[players_df['player_positions'] == 'A'].groupby('nationality')['overall'].agg(['sum'])
#final_grouped_players_df['Attacking_Prowess'] = players_df.loc[players_df['player_positions'] == 'A', 'overall'].sum()
#final_grouped_players_df['Defensive_Prowess'] = players_df.loc[players_df.player_positions == 'D'].groupby('nationality')['overall'].agg(['mean'])
players_df
#players_df.loc[players_df['Attacking_Prowess'] != np.nan]
#final_grouped_players_df

,short_name,nationality,overall,player_positions,work_rate,team_position
sofifa_id,,,,,,
158023,L. Messi,Argentina,94,A,Medium/Low,RW
20801,Cristiano Ronaldo,Portugal,93,A,High/Low,LW
190871,Neymar Jr,Brazil,92,A,High/Medium,CAM
200389,J. Oblak,Slovenia,91,D,Medium/Medium,GK
183277,E. Hazard,Belgium,91,A,High/Medium,LW
...,...,...,...,...,...,...
245006,Shao Shuai,China PR,48,D,Medium/High,RES
250995,Xiao Mingjie,China PR,48,D,Medium/Medium,SUB
252332,Zhang Wei,China PR,48,A,Low/Medium,SUB
251110,Wang Haijian,China PR,48,A,Low/Low,SUB
233449,Pan Ximing,China PR,48,A,Medium/Medium,SUB

In [184]:
final_grouped_players_df = players_df.loc[players_df['player_positions'] == 'A'].groupby('nationality')['overall'].agg(['median'])
final_grouped_players_df ['Defensive_prowess']= players_df.loc[players_df['player_positions'] == 'D'].groupby('nationality')['overall'].agg(['median'])
#final_grouped_players_df.rename(columns={'mean':'Attacking_Prowess'})
#new_frame.loc[new_frame.player_positions == 'A']['overall'].sum()
#new_frame['Attacking_Prowess'] = players_df.loc[players_df.player_positions == 'A'].groupby('nationality')['overall'].agg(['sum'])
final_grouped_players_df

                   median  Defensive_prowess
nationality
Afghanistan          60.0               64.0
Albania              66.0               69.0
Algeria              73.0               70.0
Angola               70.5               70.5
Antigua & Barbuda    62.0               59.0
...                   ...                ...
Venezuela            68.0               66.0
Vietnam              62.0                NaN
Wales                65.0               64.5
Zambia               68.0               74.0
Zimbabwe             68.0               68.5

[153 rows x 2 columns]

In [84]:
#final_grouped_players_df = players_df.loc[players_df.team_position == 'RW'].groupby('nationality')['overall'].agg(['mean'])
#final_grouped_players_df

In [115]:
final_grouped_players_df = players_df.loc[players_df.player_positions == 'RW'].groupby('nationality')['overall'].agg(['mean'])
#final_grouped_players_df['LW'] = players_df.loc[players_df.team_position == 'LW'].groupby('nationality')['overall'].agg(['mean'])
#final_grouped_players_df['LW'] = final_grouped_players_df['LW'].fillna(0)
#final_grouped_players_df['ST']= players_df.loc[players_df.team_position == 'ST'].groupby('nationality')['overall'].agg(['mean'])
#final_grouped_players_df['ST'] = final_grouped_players_df['ST'].fillna(0)
#final_grouped_players_df['CAM']= players_df.loc[players_df.team_position == 'CAM'].groupby('nationality')['overall'].agg(['mean'])
#final_grouped_players_df['CAM'] = final_grouped_players_df['CAM'].fillna(0)
#final_grouped_players_df['CDM']= players_df.loc[players_df.team_position == 'CDM'].groupby('nationality')['overall'].agg(['mean'])
#final_grouped_players_df['CDM'] = final_grouped_players_df['CDM'].fillna(0)
#final_grouped_players_df['CB']= players_df.loc[players_df.team_position == 'CB'].groupby('nationality')['overall'].agg(['mean'])
#final_grouped_players_df['CB'] = final_grouped_players_df['CB'].fillna(0)
#final_grouped_players_df['GK']= players_df.loc[players_df.team_position == 'GK'].groupby('nationality')['overall'].agg(['mean'])
#final_grouped_players_df['GK'] = final_grouped_players_df['GK'].fillna(0)
#final_grouped_players_df['Attacking_Prowess'] = (final_grouped_players_df['mean'] + final_grouped_players_df['LW'] + final_grouped_players_df['ST'] + final_grouped_players_df['CAM'])/ 4
#final_grouped_players_df['Defensive_Prowess'] = (final_grouped_players_df['CDM'] + final_grouped_players_df['CB']) / 2  
final_grouped_players_df

                     mean
nationality
Algeria         73.000000
Argentina       63.000000
Armenia         73.000000
Australia       70.000000
Belgium         66.000000
Brazil          67.250000
Bulgaria        63.000000
Chile           61.166667
China PR        55.000000
Colombia        62.000000
Curacao         60.000000
Denmark         64.250000
England         67.000000
Finland         64.000000
France          62.500000
Gambia          59.000000
Germany         82.000000
Ghana           63.500000
Italy           64.000000
Japan           75.000000
Korea Republic  59.666667
Montenegro      70.000000
Morocco         66.000000
Netherlands     68.000000
New Zealand     59.000000
Nigeria         66.250000
Norway          61.000000
Portugal        60.000000
Romania         59.000000
Russia          64.000000
Senegal         64.000000
Spain           69.500000
Sweden          57.000000
Switzerland     53.000000
Tunisia         72.000000
Turkey          54.000000
USA             60.333333
Uruguay         66.000000

In [22]:
# Merge_data_frame= data_frame.set_index('Nation')
# Merge_data_frame

In [46]:
AFC_teams = pd.read_csv("AFC.csv")
AFC_teams.head(10)
#Asia_Teams = pd.read_csv("Asia.csv")
#Asia_Teams.head(10)
#North_America_teams = pd.read_csv("North_America.csv")
#North_America_teams
#South_America_teams = pd.read_csv("South_America.csv")
#South_America_teams
#Oceania_Teams = pd.read_csv("Oceania.csv")
#Oceania_Teams
#UEFA_Teams = pd.read_csv("UEFA.csv")
#UEFA_Teams

        Nation
0      Senegal
1      Tunisia
2      Nigeria
3      Algeria
4      Morocco
5        Egypt
6        Ghana
7     Cameroon
8     DR Congo
9  Ivory Coast

In [47]:
#AFC_teams.dtypes

In [49]:
team_details = pd.merge(AFC_teams, data_frame, left_on='Nation', right_index =True ,how='left')
#team_details = pd.merge(Asia_Teams, data_frame, left_on='Nation', right_index =True ,how='left')
#team_details = pd.merge(North_America_teams, data_frame, left_on='Nation', right_index=True, how='left')
#team_details = pd.merge(South_America_teams, data_frame, left_on='Nation', right_index=True, how='left')
#team_details = pd.merge(Oceania_Teams, data_frame, left_on='Nation', right_index=True, how='left')
#team_details = pd.merge(UEFA_Teams, data_frame, left_on='Nation', right_index=True, how='left')
team_details

           Nation  Rank  Squad_Size  Avg_Age Total Value Confideration  Points
0         Senegal    20          23     26.4    $253.94m           CAF    1558
1         Tunisia    26          31     25.8     $54.70m           CAF    1503
2         Nigeria    36          23     25.4    $222.81m           CAF    1474
2         Nigeria   113          27     25.5      $3.11m           CAF    1172
3         Algeria    31          28     28.9    $196.19m           CAF    1488
4         Morocco    33          24     28.0    $244.64m           CAF    1481
5           Egypt    49          28     28.3    $175.62m           CAF    1432
6           Ghana    52          23     25.8    $115.31m           CAF    1424
7        Cameroon    50          27     25.6     $73.04m           CAF    1427
8        DR Congo    60          32     27.4     $48.35m           CAF    1386
9     Ivory Coast    61          24     27.9    $270.24m           CAF    1384
10           Mali    54          22     25.4     $44.28m           CAF    1412
11   Burkina Faso    58          27     26.6     $88.41m           CAF    1391
12   South Africa    71          32     28.8     $34.21m           CAF    1341
13         Guinea    72          31     25.2     $95.80m           CAF    1334
14     Cape Verde    80          23     27.9     $10.64m           CAF    1306
15         Uganda    83          26     25.5      $6.79m           CAF    1301
16         Zambia    90          24     26.8     $38.86m           CAF    1265
17          Benin    82          22     28.3     $18.32m           CAF    1302
18          Gabon    86          24     26.7     $82.50m           CAF    1280
19          Congo    90          23     26.6      $6.68m           CAF    1265
20     Madagascar    94          23     29.6      $7.21m           CAF    1256
21          Libya   111          27     26.9     $15.92m           CAF    1177
22     Mauritania   101          23     25.7      $6.35m           CAF    1207
23          Kenya   104          24     26.5      $4.79m           CAF    1187
24       Zimbabwe   112          21     28.9      $5.14m           CAF    1176
25     Mozambique   106          23     28.3      $1.43m           CAF    1185
26        Namibia   121          36     27.4      $6.90m           CAF    1143
27         Angola   125          27     25.6     $20.32m           CAF    1134
28  Guinea-Bissau   119          20     26.6     $13.78m           CAF    1146

In [50]:
team_details = team_details.set_index("Nation")
team_details

               Rank  Squad_Size  Avg_Age Total Value Confideration  Points
Nation
Senegal          20          23     26.4    $253.94m           CAF    1558
Tunisia          26          31     25.8     $54.70m           CAF    1503
Nigeria          36          23     25.4    $222.81m           CAF    1474
Nigeria         113          27     25.5      $3.11m           CAF    1172
Algeria          31          28     28.9    $196.19m           CAF    1488
Morocco          33          24     28.0    $244.64m           CAF    1481
Egypt            49          28     28.3    $175.62m           CAF    1432
Ghana            52          23     25.8    $115.31m           CAF    1424
Cameroon         50          27     25.6     $73.04m           CAF    1427
DR Congo         60          32     27.4     $48.35m           CAF    1386
Ivory Coast      61          24     27.9    $270.24m           CAF    1384
Mali             54          22     25.4     $44.28m           CAF    1412
Burkina Faso     58          27     26.6     $88.41m           CAF    1391
South Africa     71          32     28.8     $34.21m           CAF    1341
Guinea           72          31     25.2     $95.80m           CAF    1334
Cape Verde       80          23     27.9     $10.64m           CAF    1306
Uganda           83          26     25.5      $6.79m           CAF    1301
Zambia           90          24     26.8     $38.86m           CAF    1265
Benin            82          22     28.3     $18.32m           CAF    1302
Gabon            86          24     26.7     $82.50m           CAF    1280
Congo            90          23     26.6      $6.68m           CAF    1265
Madagascar       94          23     29.6      $7.21m           CAF    1256
Libya           111          27     26.9     $15.92m           CAF    1177
Mauritania      101          23     25.7      $6.35m           CAF    1207
Kenya           104          24     26.5      $4.79m           CAF    1187
Zimbabwe        112          21     28.9      $5.14m           CAF    1176
Mozambique      106          23     28.3      $1.43m           CAF    1185
Namibia         121          36     27.4      $6.90m           CAF    1143
Angola          125          27     25.6     $20.32m           CAF    1134
Guinea-Bissau   119          20     26.6     $13.78m           CAF    1146

In [51]:
grouped_players_df = players_df.groupby('nationality')['overall'].agg(['mean', 'count'])
grouped_players_df

                        mean  count
nationality
Afghanistan        62.000000      2
Albania            66.418605     43
Algeria            71.380000     50
Angola             69.375000     16
Antigua & Barbuda  59.428571      7
...                      ...    ...
Venezuela          67.075758     66
Vietnam            62.000000      1
Wales              64.692308    117
Zambia             67.100000     10
Zimbabwe           67.250000     12

[162 rows x 2 columns]

team_player_details = pd.merge(team_details, grouped_players_df, left_on='Nation', right_index=True, how='left').fillna(0)
team_player_details

In [52]:
team_player_details = pd.merge(team_details, grouped_players_df, left_on='Nation', right_index=True, how='left').fillna(0) 
team_player_details

,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count
Nation,,,,,,,,
Senegal,20,23,26.4,$253.94m,CAF,1558,68.645669,127.0
Tunisia,26,31,25.8,$54.70m,CAF,1503,68.257143,35.0
Nigeria,36,23,25.4,$222.81m,CAF,1474,67.150794,126.0
Nigeria,113,27,25.5,$3.11m,CAF,1172,67.150794,126.0
Algeria,31,28,28.9,$196.19m,CAF,1488,71.380000,50.0
Morocco,33,24,28.0,$244.64m,CAF,1481,69.691489,94.0
Egypt,49,28,28.3,$175.62m,CAF,1432,70.100000,30.0
Ghana,52,23,25.8,$115.31m,CAF,1424,66.976923,130.0
Cameroon,50,27,25.6,$73.04m,CAF,1427,68.333333,78.0
DR Congo,60,32,27.4,$48.35m,CAF,1386,68.407407,54.0
Ivory Coast,61,24,27.9,$270.24m,CAF,1384,0.000000,0.0
Mali,54,22,25.4,$44.28m,CAF,1412,67.509091,55.0
Burkina Faso,58,27,26.6,$88.41m,CAF,1391,66.437500,16.0
South Africa,71,32,28.8,$34.21m,CAF,1341,67.722222,72.0
Guinea,72,31,25.2,$95.80m,CAF,1334,68.800000,35.0
Cape Verde,80,23,27.9,$10.64m,CAF,1306,70.500000,20.0
Uganda,83,26,25.5,$6.79m,CAF,1301,66.000000,3.0
Zambia,90,24,26.8,$38.86m,CAF,1265,67.100000,10.0
Benin,82,22,28.3,$18.32m,CAF,1302,67.666667,15.0
Gabon,86,24,26.7,$82.50m,CAF,1280,70.687500,16.0
Congo,90,23,26.6,$6.68m,CAF,1265,65.444444,18.0
Madagascar,94,23,29.6,$7.21m,CAF,1256,70.250000,8.0
Libya,111,27,26.9,$15.92m,CAF,1177,71.000000,4.0
Mauritania,101,23,25.7,$6.35m,CAF,1207,65.200000,5.0
Kenya,104,24,26.5,$4.79m,CAF,1187,65.285714,7.0
Zimbabwe,112,21,28.9,$5.14m,CAF,1176,67.250000,12.0
Mozambique,106,23,28.3,$1.43m,CAF,1185,73.250000,4.0
Namibia,121,36,27.4,$6.90m,CAF,1143,67.000000,2.0
Angola,125,27,25.6,$20.32m,CAF,1134,69.375000,16.0
Guinea-Bissau,119,20,26.6,$13.78m,CAF,1146,0.000000,0.0

In [53]:
min_rank = team_player_details.min()['Rank']
min_rank

20

In [54]:
max_rank = team_player_details.max()['Rank']
max_rank

125

In [55]:
team_player_details['Normalize_Rank'] = (max_rank - team_player_details['Rank']) / (max_rank - min_rank)
team_player_details

,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank
Nation,,,,,,,,,
Senegal,20,23,26.4,$253.94m,CAF,1558,68.645669,127.0,1.000000
Tunisia,26,31,25.8,$54.70m,CAF,1503,68.257143,35.0,0.942857
Nigeria,36,23,25.4,$222.81m,CAF,1474,67.150794,126.0,0.847619
Nigeria,113,27,25.5,$3.11m,CAF,1172,67.150794,126.0,0.114286
Algeria,31,28,28.9,$196.19m,CAF,1488,71.380000,50.0,0.895238
Morocco,33,24,28.0,$244.64m,CAF,1481,69.691489,94.0,0.876190
Egypt,49,28,28.3,$175.62m,CAF,1432,70.100000,30.0,0.723810
Ghana,52,23,25.8,$115.31m,CAF,1424,66.976923,130.0,0.695238
Cameroon,50,27,25.6,$73.04m,CAF,1427,68.333333,78.0,0.714286
DR Congo,60,32,27.4,$48.35m,CAF,1386,68.407407,54.0,0.619048
Ivory Coast,61,24,27.9,$270.24m,CAF,1384,0.000000,0.0,0.609524
Mali,54,22,25.4,$44.28m,CAF,1412,67.509091,55.0,0.676190
Burkina Faso,58,27,26.6,$88.41m,CAF,1391,66.437500,16.0,0.638095
South Africa,71,32,28.8,$34.21m,CAF,1341,67.722222,72.0,0.514286
Guinea,72,31,25.2,$95.80m,CAF,1334,68.800000,35.0,0.504762
Cape Verde,80,23,27.9,$10.64m,CAF,1306,70.500000,20.0,0.428571
Uganda,83,26,25.5,$6.79m,CAF,1301,66.000000,3.0,0.400000
Zambia,90,24,26.8,$38.86m,CAF,1265,67.100000,10.0,0.333333
Benin,82,22,28.3,$18.32m,CAF,1302,67.666667,15.0,0.409524
Gabon,86,24,26.7,$82.50m,CAF,1280,70.687500,16.0,0.371429
Congo,90,23,26.6,$6.68m,CAF,1265,65.444444,18.0,0.333333
Madagascar,94,23,29.6,$7.21m,CAF,1256,70.250000,8.0,0.295238
Libya,111,27,26.9,$15.92m,CAF,1177,71.000000,4.0,0.133333
Mauritania,101,23,25.7,$6.35m,CAF,1207,65.200000,5.0,0.228571
Kenya,104,24,26.5,$4.79m,CAF,1187,65.285714,7.0,0.200000
Zimbabwe,112,21,28.9,$5.14m,CAF,1176,67.250000,12.0,0.123810
Mozambique,106,23,28.3,$1.43m,CAF,1185,73.250000,4.0,0.180952
Namibia,121,36,27.4,$6.90m,CAF,1143,67.000000,2.0,0.038095
Angola,125,27,25.6,$20.32m,CAF,1134,69.375000,16.0,0.000000
Guinea-Bissau,119,20,26.6,$13.78m,CAF,1146,0.000000,0.0,0.057143

In [56]:
team_player_details['Above_Median_Count'] = team_player_details['count']/ 2 
team_player_details['Above_Median_Count'] =team_player_details['Above_Median_Count'].astype("int32")
team_player_details

,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,
Senegal,20,23,26.4,$253.94m,CAF,1558,68.645669,127.0,1.000000,63
Tunisia,26,31,25.8,$54.70m,CAF,1503,68.257143,35.0,0.942857,17
Nigeria,36,23,25.4,$222.81m,CAF,1474,67.150794,126.0,0.847619,63
Nigeria,113,27,25.5,$3.11m,CAF,1172,67.150794,126.0,0.114286,63
Algeria,31,28,28.9,$196.19m,CAF,1488,71.380000,50.0,0.895238,25
Morocco,33,24,28.0,$244.64m,CAF,1481,69.691489,94.0,0.876190,47
Egypt,49,28,28.3,$175.62m,CAF,1432,70.100000,30.0,0.723810,15
Ghana,52,23,25.8,$115.31m,CAF,1424,66.976923,130.0,0.695238,65
Cameroon,50,27,25.6,$73.04m,CAF,1427,68.333333,78.0,0.714286,39
DR Congo,60,32,27.4,$48.35m,CAF,1386,68.407407,54.0,0.619048,27
Ivory Coast,61,24,27.9,$270.24m,CAF,1384,0.000000,0.0,0.609524,0
Mali,54,22,25.4,$44.28m,CAF,1412,67.509091,55.0,0.676190,27
Burkina Faso,58,27,26.6,$88.41m,CAF,1391,66.437500,16.0,0.638095,8
South Africa,71,32,28.8,$34.21m,CAF,1341,67.722222,72.0,0.514286,36
Guinea,72,31,25.2,$95.80m,CAF,1334,68.800000,35.0,0.504762,17
Cape Verde,80,23,27.9,$10.64m,CAF,1306,70.500000,20.0,0.428571,10
Uganda,83,26,25.5,$6.79m,CAF,1301,66.000000,3.0,0.400000,1
Zambia,90,24,26.8,$38.86m,CAF,1265,67.100000,10.0,0.333333,5
Benin,82,22,28.3,$18.32m,CAF,1302,67.666667,15.0,0.409524,7
Gabon,86,24,26.7,$82.50m,CAF,1280,70.687500,16.0,0.371429,8
Congo,90,23,26.6,$6.68m,CAF,1265,65.444444,18.0,0.333333,9
Madagascar,94,23,29.6,$7.21m,CAF,1256,70.250000,8.0,0.295238,4
Libya,111,27,26.9,$15.92m,CAF,1177,71.000000,4.0,0.133333,2
Mauritania,101,23,25.7,$6.35m,CAF,1207,65.200000,5.0,0.228571,2
Kenya,104,24,26.5,$4.79m,CAF,1187,65.285714,7.0,0.200000,3
Zimbabwe,112,21,28.9,$5.14m,CAF,1176,67.250000,12.0,0.123810,6
Mozambique,106,23,28.3,$1.43m,CAF,1185,73.250000,4.0,0.180952,2
Namibia,121,36,27.4,$6.90m,CAF,1143,67.000000,2.0,0.038095,1
Angola,125,27,25.6,$20.32m,CAF,1134,69.375000,16.0,0.000000,8
Guinea-Bissau,119,20,26.6,$13.78m,CAF,1146,0.000000,0.0,0.057143,0

In [57]:
fetched_team = team_player_details[team_player_details['Normalize_Rank'].gt(0.4)]
fetched_team

,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,
Senegal,20,23,26.4,$253.94m,CAF,1558,68.645669,127.0,1.000000,63
Tunisia,26,31,25.8,$54.70m,CAF,1503,68.257143,35.0,0.942857,17
Nigeria,36,23,25.4,$222.81m,CAF,1474,67.150794,126.0,0.847619,63
Algeria,31,28,28.9,$196.19m,CAF,1488,71.380000,50.0,0.895238,25
Morocco,33,24,28.0,$244.64m,CAF,1481,69.691489,94.0,0.876190,47
Egypt,49,28,28.3,$175.62m,CAF,1432,70.100000,30.0,0.723810,15
Ghana,52,23,25.8,$115.31m,CAF,1424,66.976923,130.0,0.695238,65
Cameroon,50,27,25.6,$73.04m,CAF,1427,68.333333,78.0,0.714286,39
DR Congo,60,32,27.4,$48.35m,CAF,1386,68.407407,54.0,0.619048,27
Ivory Coast,61,24,27.9,$270.24m,CAF,1384,0.000000,0.0,0.609524,0
Mali,54,22,25.4,$44.28m,CAF,1412,67.509091,55.0,0.676190,27
Burkina Faso,58,27,26.6,$88.41m,CAF,1391,66.437500,16.0,0.638095,8
South Africa,71,32,28.8,$34.21m,CAF,1341,67.722222,72.0,0.514286,36
Guinea,72,31,25.2,$95.80m,CAF,1334,68.800000,35.0,0.504762,17
Cape Verde,80,23,27.9,$10.64m,CAF,1306,70.500000,20.0,0.428571,10
Benin,82,22,28.3,$18.32m,CAF,1302,67.666667,15.0,0.409524,7

In [58]:
teams_qualified = team_player_details.loc[(team_player_details['Normalize_Rank'].gt(0.4)) & 
((team_player_details['Squad_Size'] * 1.5) < team_player_details['Above_Median_Count'])]
teams_qualified

,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,
Senegal,20,23,26.4,$253.94m,CAF,1558,68.645669,127.0,1.000000,63
Nigeria,36,23,25.4,$222.81m,CAF,1474,67.150794,126.0,0.847619,63
Morocco,33,24,28.0,$244.64m,CAF,1481,69.691489,94.0,0.876190,47
Ghana,52,23,25.8,$115.31m,CAF,1424,66.976923,130.0,0.695238,65

In [59]:
team_player_details['Total Value'] = team_player_details['Total Value'].replace({'\$':''}, regex = True)
team_player_details['Total Value'] = team_player_details['Total Value'].replace({'m':''}, regex = True)
team_player_details['Total Value'] = team_player_details['Total Value'].replace({'bn':''}, regex = True)
team_player_details['Total Value'] = team_player_details['Total Value'].replace({'Th': ''}, regex=True)
team_player_details

,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,
Senegal,20,23,26.4,253.94,CAF,1558,68.645669,127.0,1.000000,63
Tunisia,26,31,25.8,54.70,CAF,1503,68.257143,35.0,0.942857,17
Nigeria,36,23,25.4,222.81,CAF,1474,67.150794,126.0,0.847619,63
Nigeria,113,27,25.5,3.11,CAF,1172,67.150794,126.0,0.114286,63
Algeria,31,28,28.9,196.19,CAF,1488,71.380000,50.0,0.895238,25
Morocco,33,24,28.0,244.64,CAF,1481,69.691489,94.0,0.876190,47
Egypt,49,28,28.3,175.62,CAF,1432,70.100000,30.0,0.723810,15
Ghana,52,23,25.8,115.31,CAF,1424,66.976923,130.0,0.695238,65
Cameroon,50,27,25.6,73.04,CAF,1427,68.333333,78.0,0.714286,39
DR Congo,60,32,27.4,48.35,CAF,1386,68.407407,54.0,0.619048,27
Ivory Coast,61,24,27.9,270.24,CAF,1384,0.000000,0.0,0.609524,0
Mali,54,22,25.4,44.28,CAF,1412,67.509091,55.0,0.676190,27
Burkina Faso,58,27,26.6,88.41,CAF,1391,66.437500,16.0,0.638095,8
South Africa,71,32,28.8,34.21,CAF,1341,67.722222,72.0,0.514286,36
Guinea,72,31,25.2,95.80,CAF,1334,68.800000,35.0,0.504762,17
Cape Verde,80,23,27.9,10.64,CAF,1306,70.500000,20.0,0.428571,10
Uganda,83,26,25.5,6.79,CAF,1301,66.000000,3.0,0.400000,1
Zambia,90,24,26.8,38.86,CAF,1265,67.100000,10.0,0.333333,5
Benin,82,22,28.3,18.32,CAF,1302,67.666667,15.0,0.409524,7
Gabon,86,24,26.7,82.50,CAF,1280,70.687500,16.0,0.371429,8
Congo,90,23,26.6,6.68,CAF,1265,65.444444,18.0,0.333333,9
Madagascar,94,23,29.6,7.21,CAF,1256,70.250000,8.0,0.295238,4
Libya,111,27,26.9,15.92,CAF,1177,71.000000,4.0,0.133333,2
Mauritania,101,23,25.7,6.35,CAF,1207,65.200000,5.0,0.228571,2
Kenya,104,24,26.5,4.79,CAF,1187,65.285714,7.0,0.200000,3
Zimbabwe,112,21,28.9,5.14,CAF,1176,67.250000,12.0,0.123810,6
Mozambique,106,23,28.3,1.43,CAF,1185,73.250000,4.0,0.180952,2
Namibia,121,36,27.4,6.90,CAF,1143,67.000000,2.0,0.038095,1
Angola,125,27,25.6,20.32,CAF,1134,69.375000,16.0,0.000000,8
Guinea-Bissau,119,20,26.6,13.78,CAF,1146,0.000000,0.0,0.057143,0

In [60]:
team_player_details['Total Value']=team_player_details['Total Value'].astype(float)

In [61]:
different_teams_qualified = team_player_details.loc[(team_player_details['Normalize_Rank'].gt(0.4)) & 
(team_player_details['Total Value'].gt(150))].reset_index()
different_teams_qualified

,Nation,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
0,Senegal,20,23,26.4,253.94,CAF,1558,68.645669,127.0,1.000000,63
1,Nigeria,36,23,25.4,222.81,CAF,1474,67.150794,126.0,0.847619,63
2,Algeria,31,28,28.9,196.19,CAF,1488,71.380000,50.0,0.895238,25
3,Morocco,33,24,28.0,244.64,CAF,1481,69.691489,94.0,0.876190,47
4,Egypt,49,28,28.3,175.62,CAF,1432,70.100000,30.0,0.723810,15
5,Ivory Coast,61,24,27.9,270.24,CAF,1384,0.000000,0.0,0.609524,0

In [62]:
teams_qualified = team_player_details.loc[(team_player_details['Normalize_Rank'].gt(0.4)) & 
((team_player_details['Squad_Size'] * 1.5) < team_player_details['Above_Median_Count'])]
teams_qualified

,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,
Senegal,20,23,26.4,253.94,CAF,1558,68.645669,127.0,1.000000,63
Nigeria,36,23,25.4,222.81,CAF,1474,67.150794,126.0,0.847619,63
Morocco,33,24,28.0,244.64,CAF,1481,69.691489,94.0,0.876190,47
Ghana,52,23,25.8,115.31,CAF,1424,66.976923,130.0,0.695238,65

In [63]:
different_values = teams_qualified[~teams_qualified.isin(different_teams_qualified)].dropna()
different_values

,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,
Senegal,20,23,26.4,253.94,CAF,1558,68.645669,127.0,1.000000,63
Nigeria,36,23,25.4,222.81,CAF,1474,67.150794,126.0,0.847619,63
Morocco,33,24,28.0,244.64,CAF,1481,69.691489,94.0,0.876190,47
Ghana,52,23,25.8,115.31,CAF,1424,66.976923,130.0,0.695238,65

In [181]:
officially_qualified_teams = pd.merge(different_values, final_grouped_players_df, left_on='Nation',
                                          right_index=True, how='left').fillna(0)
officially_qualified_teams

,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean_x,count,Normalize_Rank,Above_Median_Count,mean_y,Defensive_prowess
Nation,,,,,,,,,,,,
Senegal,20,23,26.4,253.94,CAF,1558,68.645669,127.0,1.000000,63,69.164557,67.791667
Nigeria,36,23,25.4,222.81,CAF,1474,67.150794,126.0,0.847619,63,67.278846,66.545455
Morocco,33,24,28.0,244.64,CAF,1481,69.691489,94.0,0.876190,47,70.044118,68.769231
Ghana,52,23,25.8,115.31,CAF,1424,66.976923,130.0,0.695238,65,67.141414,66.451613

In [69]:
final_grouped_players_df.reset_index()
final_grouped_players_df

,mean,LW,ST,CAM,CDM,CB,GK,Attacking_Prowess,Defensive_Prowess
nationality,,,,,,,,,
Algeria,73.000000,75.000000,70.000000,78.000000,0.000000,0.000000,69.000000,74.000000,0.000000
Angola,77.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,37.000000,0.000000
Argentina,72.076923,72.894737,73.225806,73.100000,71.333333,74.250000,72.285714,72.824367,72.791667
Armenia,65.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.250000,0.000000
Australia,67.500000,67.000000,62.000000,68.000000,67.666667,65.000000,68.888889,66.125000,66.333333
Austria,74.000000,72.000000,73.200000,68.571429,67.750000,68.500000,68.266667,71.942857,68.125000
Azerbaijan,67.000000,0.000000,64.000000,0.000000,0.000000,0.000000,0.000000,32.750000,0.000000
Belgium,72.666667,77.400000,70.666667,74.200000,0.000000,0.000000,72.000000,73.733333,0.000000
Brazil,73.384615,71.375000,73.137931,74.230769,79.083333,75.000000,73.965517,73.032079,77.041667
Burkina Faso,78.000000,0.000000,0.000000,72.000000,0.000000,0.000000,69.000000,37.500000,0.000000
Cameroon,71.000000,0.000000,68.333333,0.000000,68.500000,74.333333,82.000000,34.833333,71.416667
Canada,61.000000,62.000000,67.333333,74.000000,69.500000,0.000000,69.000000,66.083333,34.750000
Chile,68.750000,70.000000,68.750000,70.000000,72.000000,0.000000,68.181818,69.375000,36.000000
China PR,52.000000,68.500000,65.000000,57.000000,61.000000,65.000000,62.625000,60.625000,63.000000
Colombia,72.750000,67.000000,69.625000,69.400000,68.000000,78.000000,68.461538,69.693750,73.000000
Croatia,65.000000,0.000000,71.250000,75.000000,73.666667,0.000000,68.166667,52.812500,36.833333
Denmark,65.666667,62.666667,69.333333,64.000000,69.000000,67.250000,68.300000,65.416667,68.125000
Egypt,83.500000,0.000000,73.000000,0.000000,0.000000,0.000000,0.000000,39.125000,0.000000
England,65.000000,67.461538,68.127660,66.461538,67.062500,67.000000,66.591837,66.762684,67.031250
Faroe Islands,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000
Finland,66.000000,62.000000,77.000000,0.000000,0.000000,0.000000,69.250000,51.250000,0.000000
France,72.000000,75.571429,73.894737,68.600000,69.818182,72.333333,72.540541,72.516541,71.075758
Germany,76.000000,67.600000,69.368421,70.181818,68.076923,70.200000,70.562500,70.787560,69.138462
Ghana,64.500000,67.200000,68.500000,73.000000,72.500000,0.000000,68.000000,68.300000,36.250000
Guinea Bissau,73.000000,73.000000,0.000000,65.000000,0.000000,0.000000,0.000000,52.750000,0.000000
Iraq,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000
Italy,70.666667,68.571429,72.888889,72.909091,75.200000,72.333333,71.892857,71.259019,73.766667
Japan,75.000000,63.000000,70.200000,72.600000,69.500000,66.000000,66.300000,70.200000,67.750000
Korea Republic,56.000000,55.000000,69.500000,66.500000,66.800000,64.000000,66.687500,61.750000,65.400000
Kosovo,68.000000,79.000000,67.200000,73.000000,0.000000,71.000000,67.000000,71.800000,35.500000
Libya,71.000000,0.000000,0.000000,0.000000,72.000000,0.000000,0.000000,17.750000,36.000000
Mexico,82.500000,0.000000,67.500000,73.333333,0.000000,71.000000,71.384615,55.833333,35.500000
Morocco,73.000000,70.500000,71.250000,70.000000,66.000000,0.000000,70.000000,71.187500,33.000000
Netherlands,70.250000,71.166667,70.750000,72.111111,69.285714,84.000000,70.722222,71.069444,76.642857
Nigeria,69.500000,69.000000,69.444444,70.500000,73.500000,75.000000,65.000000,69.611111,74.250000
Northern Ireland,64.500000,59.000000,63.500000,65.000000,60.000000,0.000000,66.500000,63.000000,30.000000
Norway,64.857143,63.875000,66.333333,73.333333,64.750000,67.000000,67.666667,67.099702,65.875000
Portugal,74.000000,76.090909,71.000000,74.500000,74.000000,71.000000,74.571429,73.897727,72.500000
Republic of Ireland,60.333333,0.000000,60.916667,63.833333,69.400000,63.750000,62.705882,46.270833,66.575000
Romania,66.750000,67.200000,65.125000,65.750000,66.500000,0.000000,66.700000,66.206250,33.250000
Saudi Arabia,61.000000,62.000000,65.000000,64.333333,63.500000,0.000000,67.750000,63.083333,31.750000
Scotland,71.500000,54.000000,66.666667,70.000000,68.000000,64.000000,67.300000,65.541667,66.000000
Sierra Leone,66.000000,0.000000,71.500000,0.000000,0.000000,0.000000,0.000000,34.375000,0.000000
South Africa,72.000000,67.000000,0.000000,69.000000,0.000000,0.000000,68.000000,52.000000,0.000000
Spain,74.777778,79.000000,72.909091,72.470588,74.230769,68.500000,73.871795,74.789364,71.365385
Sweden,66.800000,69.166667,71.714286,66.750000,71.000000,71.600000,67.428571,68.607738,71.300000
Togo,77.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.250000,0.000000
USA,68.000000,79.000000,71.000000,72.000000,0.000000,0.000000,70.105263,72.500000,0.000000
Uruguay,71.000000,73.000000,77.857143,73.500000,66.000000,69.000000,73.875000,73.839286,67.500000
Venezuela,72.000000,66.500000,73.500000,0.000000,0.000000,0.000000,73.000000,53.000000,0.000000
Wales,64.000000,0.000000,60.000000,66.000000,61.000000,0.000000,61.750000,47.500000,30.500000

In [71]:
players_df.loc[players_df['nationality']=='Senegal']

,short_name,nationality,overall,player_positions,work_rate,team_position
sofifa_id,,,,,,
201024,K. Koulibaly,Senegal,89,CB,Medium/High,LCB
208722,S. Mané,Senegal,88,"LW, LM",High/Medium,LW
193474,I. Gueye,Senegal,83,CDM,Medium/High,SUB
215785,K. Baldé,Senegal,80,"RM, ST, LM",High/Low,SUB
201956,S. Sané,Senegal,80,"CB, CDM",Medium/High,RCB
...,...,...,...,...,...,...
251915,A. Lô,Senegal,57,"CB, RB",Medium/Medium,RES
251381,P. Keny,Senegal,56,ST,Medium/Medium,SUB
240952,F. Niang,Senegal,56,CM,Medium/Medium,RES
230667,A. Diakhate,Senegal,55,CM,Medium/Medium,RES
237127,D. Thiam,Senegal,51,GK,Medium/Medium,RES

In [ ]:
#UEFA_Higher_Pot = team_player_details[team_player_details['Pots'].isin([1, 2]) 
#                                      & team_player_details['Normalize_Rank'].gt(0.4) & 
#((team_player_details['Squad_Size'] * 1.5) < team_player_details['Above_Median_Count']) &
#                                     (team_player_details['Total Value'].gt(150))]
#UEFA_Higher_Pot

In [ ]:
#UEFA_Lower_Pot = team_player_details[~team_player_details['Pots'].isin([1, 2]) 
#                                      & team_player_details['Normalize_Rank'].gt(0.4) & 
#((team_player_details['Squad_Size'] * 1.5) < team_player_details['Above_Median_Count']) &
#                                     (team_player_details['Total Value'].gt(100))]
#UEFA_Lower_Pot

In [ ]:
data_frame.set_index('Rank')

In [ ]:
data_frame = pd.read_csv("Latest_Rankings.csv")
data_frame

In [ ]:
host_nation = data_frame[data_frame['Nation'] == 'Qatar']

In [ ]:
host_team_details = pd.merge(host_nation, grouped_players_df, left_on='Nation', right_index=True, how='left').fillna(0)

In [ ]:
host_team_details.dtypes

In [ ]:
host_team_details['Normalize_Rank'] = 0
host_team_details['Above_Median_Count'] = 0
host_team_details

In [ ]:
final_grouped_players_df = final_grouped_players_df.reset_index()

In [ ]:
final_grouped_players_df = final_grouped_players_df.rename(columns={'nationality': 'Nation'})
final_grouped_players_df.set_index('Nation')
final_grouped_players_df.dtypes

In [ ]:
#host_complete_details = pd.merge(host_nation, final_grouped_players_df, left_on='Nation', right_index=True, 
#                                 how='left').fillna(0)
#host_complete_details