In [1]:
# This jupyter is just used for testing purpose and is not part of the code execution.
import pandas as pd
import numpy as np

In [2]:
data_frame = pd.read_csv("Latest_Rankings.csv", index_col = 'Nation')
data_frame.head(25)

               Rank  Squad_Size  Avg_Age Total Value Confideration  Points
Nation
Belgium           1          31     27.4    $793.10m          UEFA    1780
France            2          26     27.6     $1.17bn          UEFA    1755
Brazil            3          25     27.6     $1.03bn      CONMEBOL    1743
England           4          25     25.6     $1.11bn          UEFA    1670
Portugal          5          24     27.4    $845.90m          UEFA    1662
Spain             6          24     26.4    $940.50m          UEFA    1645
Argentina         7          22     27.9    $581.90m      CONMEBOL    1642
Uruguay           8          35     27.0    $498.16m      CONMEBOL    1639
Mexico            9          22     27.8    $190.96m      CONCACAF    1632
Italy            10          29     27.1    $893.20m          UEFA    1625
Croatia          11          25     28.2    $385.00m          UEFA    1617
Denmark          12          27     27.7    $330.33m          UEFA    1614
Germany          13          23     26.3     $1.04bn          UEFA    1610
Netherlands      14          24     27.4    $566.23m          UEFA    1609
Colombia         15          27     27.6    $337.40m      CONMEBOL    1601
Switzerland      16          23     26.9    $289.30m          UEFA    1593
Chile            17          24     28.1     $39.93m      CONMEBOL    1567
Wales            18          25     25.2    $137.97m          UEFA    1562
Poland           19          25     26.6    $300.19m          UEFA    1559
Senegal          20          23     26.4    $253.94m           CAF    1558
Sweden           20          25     28.6    $222.97m          UEFA    1558
United States    22          26     23.3    $229.90m      CONCACAF    1548
Austria          23          29     27.2    $333.82m          UEFA    1531
Ukraine          24          23     26.4    $140.14m          UEFA    1521
Peru             25          36     28.7     $94.19m      CONMEBOL    1512

In [3]:
data_frame.dtypes

Rank               int64
Squad_Size         int64
Avg_Age          float64
Total Value       object
Confideration     object
Points             int64
dtype: object

In [4]:
players_df = pd.read_csv("players_20.csv", index_col="sofifa_id")
players_df

,short_name,nationality,overall,player_positions,work_rate,team_position
sofifa_id,,,,,,
158023,L. Messi,Argentina,94,"RW, CF, ST",Medium/Low,RW
20801,Cristiano Ronaldo,Portugal,93,"ST, LW",High/Low,LW
190871,Neymar Jr,Brazil,92,"LW, CAM",High/Medium,CAM
200389,J. Oblak,Slovenia,91,GK,Medium/Medium,GK
183277,E. Hazard,Belgium,91,"LW, CF",High/Medium,LW
...,...,...,...,...,...,...
245006,Shao Shuai,China PR,48,CB,Medium/High,RES
250995,Xiao Mingjie,China PR,48,CB,Medium/Medium,SUB
252332,Zhang Wei,China PR,48,CM,Low/Medium,SUB
251110,Wang Haijian,China PR,48,CM,Low/Low,SUB
233449,Pan Ximing,China PR,48,CM,Medium/Medium,SUB

In [12]:
final_grouped_players_df = players_df.loc[players_df.team_position == 'RW'].groupby('nationality')['overall'].agg(['mean'])
final_grouped_players_df['LW'] = players_df.loc[players_df.team_position == 'LW'].groupby('nationality')['overall'].agg(['mean'])
final_grouped_players_df['LW'] = final_grouped_players_df['LW'].fillna(0)
final_grouped_players_df['ST']= players_df.loc[players_df.team_position == 'ST'].groupby('nationality')['overall'].agg(['mean'])
final_grouped_players_df['ST'] = final_grouped_players_df['ST'].fillna(0)
final_grouped_players_df['CAM']= players_df.loc[players_df.team_position == 'CAM'].groupby('nationality')['overall'].agg(['mean'])
final_grouped_players_df['CAM'] = final_grouped_players_df['CAM'].fillna(0)
final_grouped_players_df['CDM']= players_df.loc[players_df.team_position == 'CDM'].groupby('nationality')['overall'].agg(['mean'])
final_grouped_players_df['CDM'] = final_grouped_players_df['CDM'].fillna(0)
final_grouped_players_df['CB']= players_df.loc[players_df.team_position == 'CB'].groupby('nationality')['overall'].agg(['mean'])
final_grouped_players_df['CB'] = final_grouped_players_df['CB'].fillna(0)
final_grouped_players_df['GK']= players_df.loc[players_df.team_position == 'GK'].groupby('nationality')['overall'].agg(['mean'])
final_grouped_players_df['GK'] = final_grouped_players_df['GK'].fillna(0)
final_grouped_players_df['Attacking_Prowess'] = (final_grouped_players_df['mean'] + final_grouped_players_df['LW'] + final_grouped_players_df['ST'] + final_grouped_players_df['CAM'])/ 4
final_grouped_players_df['Defensive_Prowess'] = (final_grouped_players_df['CDM'] + final_grouped_players_df['CB']) / 2  
final_grouped_players_df

,mean,LW,ST,CAM,CDM,CB,GK,Attacking_Prowess,Defensive_Prowess
nationality,,,,,,,,,
Algeria,73.000000,75.000000,70.000000,78.000000,0.000000,0.000000,69.000000,74.000000,0.000000
Angola,77.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,37.000000,0.000000
Argentina,72.076923,72.894737,73.225806,73.100000,71.333333,74.250000,72.285714,72.824367,72.791667
Armenia,65.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.250000,0.000000
Australia,67.500000,67.000000,62.000000,68.000000,67.666667,65.000000,68.888889,66.125000,66.333333
Austria,74.000000,72.000000,73.200000,68.571429,67.750000,68.500000,68.266667,71.942857,68.125000
Azerbaijan,67.000000,0.000000,64.000000,0.000000,0.000000,0.000000,0.000000,32.750000,0.000000
Belgium,72.666667,77.400000,70.666667,74.200000,0.000000,0.000000,72.000000,73.733333,0.000000
Brazil,73.384615,71.375000,73.137931,74.230769,79.083333,75.000000,73.965517,73.032079,77.041667
Burkina Faso,78.000000,0.000000,0.000000,72.000000,0.000000,0.000000,69.000000,37.500000,0.000000
Cameroon,71.000000,0.000000,68.333333,0.000000,68.500000,74.333333,82.000000,34.833333,71.416667
Canada,61.000000,62.000000,67.333333,74.000000,69.500000,0.000000,69.000000,66.083333,34.750000
Chile,68.750000,70.000000,68.750000,70.000000,72.000000,0.000000,68.181818,69.375000,36.000000
China PR,52.000000,68.500000,65.000000,57.000000,61.000000,65.000000,62.625000,60.625000,63.000000
Colombia,72.750000,67.000000,69.625000,69.400000,68.000000,78.000000,68.461538,69.693750,73.000000
Croatia,65.000000,0.000000,71.250000,75.000000,73.666667,0.000000,68.166667,52.812500,36.833333
Denmark,65.666667,62.666667,69.333333,64.000000,69.000000,67.250000,68.300000,65.416667,68.125000
Egypt,83.500000,0.000000,73.000000,0.000000,0.000000,0.000000,0.000000,39.125000,0.000000
England,65.000000,67.461538,68.127660,66.461538,67.062500,67.000000,66.591837,66.762684,67.031250
Faroe Islands,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000
Finland,66.000000,62.000000,77.000000,0.000000,0.000000,0.000000,69.250000,51.250000,0.000000
France,72.000000,75.571429,73.894737,68.600000,69.818182,72.333333,72.540541,72.516541,71.075758
Germany,76.000000,67.600000,69.368421,70.181818,68.076923,70.200000,70.562500,70.787560,69.138462
Ghana,64.500000,67.200000,68.500000,73.000000,72.500000,0.000000,68.000000,68.300000,36.250000
Guinea Bissau,73.000000,73.000000,0.000000,65.000000,0.000000,0.000000,0.000000,52.750000,0.000000
Iraq,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000
Italy,70.666667,68.571429,72.888889,72.909091,75.200000,72.333333,71.892857,71.259019,73.766667
Japan,75.000000,63.000000,70.200000,72.600000,69.500000,66.000000,66.300000,70.200000,67.750000
Korea Republic,56.000000,55.000000,69.500000,66.500000,66.800000,64.000000,66.687500,61.750000,65.400000
Kosovo,68.000000,79.000000,67.200000,73.000000,0.000000,71.000000,67.000000,71.800000,35.500000
Libya,71.000000,0.000000,0.000000,0.000000,72.000000,0.000000,0.000000,17.750000,36.000000
Mexico,82.500000,0.000000,67.500000,73.333333,0.000000,71.000000,71.384615,55.833333,35.500000
Morocco,73.000000,70.500000,71.250000,70.000000,66.000000,0.000000,70.000000,71.187500,33.000000
Netherlands,70.250000,71.166667,70.750000,72.111111,69.285714,84.000000,70.722222,71.069444,76.642857
Nigeria,69.500000,69.000000,69.444444,70.500000,73.500000,75.000000,65.000000,69.611111,74.250000
Northern Ireland,64.500000,59.000000,63.500000,65.000000,60.000000,0.000000,66.500000,63.000000,30.000000
Norway,64.857143,63.875000,66.333333,73.333333,64.750000,67.000000,67.666667,67.099702,65.875000
Portugal,74.000000,76.090909,71.000000,74.500000,74.000000,71.000000,74.571429,73.897727,72.500000
Republic of Ireland,60.333333,0.000000,60.916667,63.833333,69.400000,63.750000,62.705882,46.270833,66.575000
Romania,66.750000,67.200000,65.125000,65.750000,66.500000,0.000000,66.700000,66.206250,33.250000
Saudi Arabia,61.000000,62.000000,65.000000,64.333333,63.500000,0.000000,67.750000,63.083333,31.750000
Scotland,71.500000,54.000000,66.666667,70.000000,68.000000,64.000000,67.300000,65.541667,66.000000
Sierra Leone,66.000000,0.000000,71.500000,0.000000,0.000000,0.000000,0.000000,34.375000,0.000000
South Africa,72.000000,67.000000,0.000000,69.000000,0.000000,0.000000,68.000000,52.000000,0.000000
Spain,74.777778,79.000000,72.909091,72.470588,74.230769,68.500000,73.871795,74.789364,71.365385
Sweden,66.800000,69.166667,71.714286,66.750000,71.000000,71.600000,67.428571,68.607738,71.300000
Togo,77.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.250000,0.000000
USA,68.000000,79.000000,71.000000,72.000000,0.000000,0.000000,70.105263,72.500000,0.000000
Uruguay,71.000000,73.000000,77.857143,73.500000,66.000000,69.000000,73.875000,73.839286,67.500000
Venezuela,72.000000,66.500000,73.500000,0.000000,0.000000,0.000000,73.000000,53.000000,0.000000
Wales,64.000000,0.000000,60.000000,66.000000,61.000000,0.000000,61.750000,47.500000,30.500000

In [6]:
# Merge_data_frame= data_frame.set_index('Nation')
# Merge_data_frame

In [7]:
#AFC_teams = pd.read_csv("AFC.csv")
#AFC_teams.head(10)
Asia_Teams = pd.read_csv("Asia.csv")
Asia_Teams.head(10)
#North_America_teams = pd.read_csv("North_America.csv")
#North_America_teams
#South_America_teams = pd.read_csv("South_America.csv")
#South_America_teams
#Oceania_Teams = pd.read_csv("Oceania.csv")
#Oceania_Teams
#UEFA_Teams = pd.read_csv("UEFA.csv")
#UEFA_Teams

                 Nation
0                  Iran
1                 Japan
2           South Korea
3             Australia
4                 Qatar
5  United Arab Emirates
6          Saudi Arabia
7                 China
8                  Iraq
9                 Syria

In [8]:
#AFC_teams.dtypes

In [13]:
team_details = pd.merge(Asia_Teams, data_frame, left_on='Nation', right_index =True ,how='left')
#team_details = pd.merge(North_America_teams, data_frame, left_on='Nation', right_index=True, how='left')
#team_details = pd.merge(South_America_teams, data_frame, left_on='Nation', right_index=True, how='left')
#team_details = pd.merge(Oceania_Teams, data_frame, left_on='Nation', right_index=True, how='left')
#team_details = pd.merge(UEFA_Teams, data_frame, left_on='Nation', right_index=True, how='left')
team_details

,Nation,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points
0,Iran,29,26,31.4,$63.64m,AFC,1496
1,Japan,27,23,27.7,$91.47m,AFC,1502
2,South Korea,38,23,27.5,$39.00m,AFC,1465
3,Australia,41,24,28.7,$46.42m,AFC,1457
4,Qatar,58,23,25.7,$16.25m,AFC,1391
5,United Arab Emirates,74,32,27.6,$27.53m,AFC,1326
6,Saudi Arabia,67,25,26.2,$24.83m,AFC,1353
7,China,75,28,30.3,$19.77m,AFC,1323
8,Iraq,69,23,25.0,$7.89m,AFC,1348
9,Syria,76,23,26.0,$5.78m,AFC,1313
10,Uzbekistan,85,32,26.4,$32.29m,AFC,1283
11,Lebanon,93,24,26.9,$8.04m,AFC,1257
12,Oman,81,23,26.9,$3.88m,AFC,1303
13,Kyrgyzstan,96,29,27.9,$6.05m,AFC,1240
14,Jordan,95,23,27.8,$6.55m,AFC,1243
15,Vietnam,92,23,26.6,$5.09m,AFC,1258
16,Palestine,102,23,25.8,$3.66m,AFC,1206
17,India,104,27,25.5,$4.40m,AFC,1187
18,Bahrain,97,13,29.1,$2.31m,AFC,1238
19,Thailand,110,23,27.7,$10.51m,AFC,1178
20,Tajikistan,120,23,23.5,$5.45m,AFC,1144
21,North Korea,115,23,27.8,$7.26m,AFC,1170
22,Philippines,124,23,28.8,$5.78m,AFC,1136

In [10]:
team_details = team_details.set_index("Nation")
team_details

,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points
Nation,,,,,,
Iran,29,26,31.4,$63.64m,AFC,1496
Japan,27,23,27.7,$91.47m,AFC,1502
South Korea,38,23,27.5,$39.00m,AFC,1465
Australia,41,24,28.7,$46.42m,AFC,1457
Qatar,58,23,25.7,$16.25m,AFC,1391
United Arab Emirates,74,32,27.6,$27.53m,AFC,1326
Saudi Arabia,67,25,26.2,$24.83m,AFC,1353
China,75,28,30.3,$19.77m,AFC,1323
Iraq,69,23,25.0,$7.89m,AFC,1348
Syria,76,23,26.0,$5.78m,AFC,1313
Uzbekistan,85,32,26.4,$32.29m,AFC,1283
Lebanon,93,24,26.9,$8.04m,AFC,1257
Oman,81,23,26.9,$3.88m,AFC,1303
Kyrgyzstan,96,29,27.9,$6.05m,AFC,1240
Jordan,95,23,27.8,$6.55m,AFC,1243
Vietnam,92,23,26.6,$5.09m,AFC,1258
Palestine,102,23,25.8,$3.66m,AFC,1206
India,104,27,25.5,$4.40m,AFC,1187
Bahrain,97,13,29.1,$2.31m,AFC,1238
Thailand,110,23,27.7,$10.51m,AFC,1178
Tajikistan,120,23,23.5,$5.45m,AFC,1144
North Korea,115,23,27.8,$7.26m,AFC,1170
Philippines,124,23,28.8,$5.78m,AFC,1136

team_player_details = pd.merge(team_details, grouped_players_df, left_on='Nation', right_index=True, how='left').fillna(0)
team_player_details

In [11]:
team_player_details = pd.merge(team_details, grouped_players_df, left_on='Nation', right_index=True, how='left').fillna(0) 
team_player_details

NameError: name 'grouped_players_df' is not defined

In [ ]:
min_rank = team_player_details.min()['Rank']
min_rank

In [ ]:
max_rank = team_player_details.max()['Rank']
max_rank

In [ ]:
team_player_details['Normalize_Rank'] = (max_rank - team_player_details['Rank']) / (max_rank - min_rank)
team_player_details

In [ ]:
team_player_details['Above_Median_Count'] = team_player_details['count']/ 2 
team_player_details['Above_Median_Count'] =team_player_details['Above_Median_Count'].astype("int32")
team_player_details

In [ ]:
fetched_team = team_player_details[team_player_details['Normalize_Rank'].gt(0.4)]
fetched_team

In [ ]:
teams_qualified = team_player_details.loc[(team_player_details['Normalize_Rank'].gt(0.4)) & 
((team_player_details['Squad_Size'] * 1.5) < team_player_details['Above_Median_Count'])]
teams_qualified

In [ ]:
team_player_details['Total Value'] = team_player_details['Total Value'].replace({'\$':''}, regex = True)
team_player_details['Total Value'] = team_player_details['Total Value'].replace({'m':''}, regex = True)
team_player_details['Total Value'] = team_player_details['Total Value'].replace({'bn':''}, regex = True)
team_player_details['Total Value'] = team_player_details['Total Value'].replace({'Th': ''}, regex=True)
team_player_details

In [ ]:
team_player_details['Total Value']=team_player_details['Total Value'].astype(float)

In [ ]:
different_teams_qualified = team_player_details.loc[(team_player_details['Normalize_Rank'].gt(0.4)) & 
(team_player_details['Total Value'].gt(150))].reset_index()
different_teams_qualified

In [ ]:
teams_qualified = team_player_details.loc[(team_player_details['Normalize_Rank'].gt(0.4)) & 
((team_player_details['Squad_Size'] * 1.5) < team_player_details['Above_Median_Count'])]
teams_qualified

In [ ]:
different_values = teams_qualified[~teams_qualified.isin(different_teams_qualified)].dropna()
different_values

In [ ]:
#UEFA_Higher_Pot = team_player_details[team_player_details['Pots'].isin([1, 2]) 
#                                      & team_player_details['Normalize_Rank'].gt(0.4) & 
#((team_player_details['Squad_Size'] * 1.5) < team_player_details['Above_Median_Count']) &
#                                     (team_player_details['Total Value'].gt(150))]
#UEFA_Higher_Pot

In [ ]:
#UEFA_Lower_Pot = team_player_details[~team_player_details['Pots'].isin([1, 2]) 
#                                      & team_player_details['Normalize_Rank'].gt(0.4) & 
#((team_player_details['Squad_Size'] * 1.5) < team_player_details['Above_Median_Count']) &
#                                     (team_player_details['Total Value'].gt(100))]
#UEFA_Lower_Pot

In [ ]:
data_frame.set_index('Rank')

In [ ]:
data_frame = pd.read_csv("Latest_Rankings.csv")
data_frame

In [ ]:
host_nation = data_frame[data_frame['Nation'] == 'Qatar']

In [ ]:
host_team_details = pd.merge(host_nation, grouped_players_df, left_on='Nation', right_index=True, how='left').fillna(0)

In [ ]:
host_team_details.dtypes

In [ ]:
host_team_details['Normalize_Rank'] = 0
host_team_details['Above_Median_Count'] = 0
host_team_details

In [ ]:
final_grouped_players_df = final_grouped_players_df.reset_index()

In [ ]:
final_grouped_players_df = final_grouped_players_df.rename(columns={'nationality': 'Nation'})
final_grouped_players_df.set_index('Nation')
final_grouped_players_df.dtypes

In [ ]:
#host_complete_details = pd.merge(host_nation, final_grouped_players_df, left_on='Nation', right_index=True, 
#                                 how='left').fillna(0)
#host_complete_details